name: Mongoose Test

on:
  pull_request:
    paths:
      - "mongoose/**"
  push:
    tags:
      - mongoose/v*

defaults:
  run:
    working-directory: mongoose

jobs:
  test:
    strategy:
      matrix:
        cerbos-version: ["latest"]
        mongodb-version: ["7.0", "8.0"]
        node-version: ["20", "22", "24", "25"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Cerbos
        uses: cerbos/cerbos-setup-action@v1
        with:
          version: ${{ matrix.cerbos-version }}

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.12.1
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - name: Test using Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm install
      - run: npm run test
