name: Prisma Test

on:
  pull_request:
    paths:
      - "prisma/**"
  push:
    tags:
      - prisma/v*

defaults:
  run:
    working-directory: prisma

jobs:
  test:
    strategy:
      matrix:
        cerbos-version: ["latest"]
        node-version: ["20", "22", "24", "25"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Cerbos
        uses: cerbos/cerbos-setup-action@v1
        with:
          version: ${{ matrix.cerbos-version }}

      - name: Test using Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm install
      - run: npm run test
