name: Prisma Test

on:
  pull_request:
    paths:
      - "prisma/**"
  push:
    tags:
      - prisma/v*

defaults:
  run:
    working-directory: prisma

jobs:
  test:
    strategy:
      matrix:
        cerbos-version: ["latest"]
        node-version: ["20", "22", "24", "25"]
        prisma-version: ["6", "7"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Cerbos
        uses: cerbos/cerbos-setup-action@ee5f1c4104e29f54c106d9abdd47569c138d9f9d # v1
        with:
          version: ${{ matrix.cerbos-version }}

      - name: Test using Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm install

      - name: Generate Prisma clients
        run: npm run prisma:generate

      - name: Run tests
        run: npm run test:v${{ matrix.prisma-version }}
