name: SQLAlchemy Publish

on:
  push:
    tags:
      - sqla/v*

defaults:
  run:
    working-directory: sqlalchemy

jobs:
  release-sqla:
    name: SQLA publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            ./__pypackages__
          key: ${{ runner.os }}-python-${{ hashFiles('**/pdm.lock') }}

      - uses: pdm-project/setup-pdm@94a823180e06fcde4ad29308721954a521c96ed0 # v4.4
        name: Setup PDM
        with:
          python-version: "3.10"  # Version range or exact version of a Python version to use, the same as actions/setup-python
          prerelease: true     # Allow prerelease versions to be installed
          enable-pep582: true  # Enable PEP 582 package loading globally

      - run: pdm install -G testcontainers

      - name: Set PDM version env
        run: echo "PDM_PEP517_SCM_VERSION=${GITHUB_REF_NAME#*\/}" >> $GITHUB_ENV

      - run: pdm build

      #- name: Publish to Test PyPI
        #uses: pypa/gh-action-pypi-publish@release/v1
        #with:
          #user: __token__
          #password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          #repository_url: https://test.pypi.org/legacy/
          #packages_dir: sqlalchemy/dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: sqlalchemy/dist/

      #- name: Create release
        #run: |-
          #gh release create "$GITHUB_REF_NAME" --generate-notes
        #env:
          #GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
