name: SQLAlchemy Pull Request

on:
  pull_request:
    paths:
      - "sqlalchemy/**"
      - "policies/**"
    branches:
      - main

defaults:
  run:
    working-directory: sqlalchemy

jobs:
  test-sqla:
    name: SQLA test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ./__pypackages__
          key: ${{ runner.os }}-python-${{ hashFiles('**/pdm.lock') }}

      - uses: pdm-project/setup-pdm@94a823180e06fcde4ad29308721954a521c96ed0 # v4.4
        name: Setup PDM
        with:
          python-version: "3.10" # Version range or exact version of a Python version to use, the same as actions/setup-python
          prerelease: true # Allow prerelease versions to be installed
          enable-pep582: true # Enable PEP 582 package loading globally

      - run: pdm install -G testcontainers

      - run: pdm run test
