name: SQLAlchemy Pull Request

on:
  pull_request:
    paths:
      - "sqlalchemy/**"
    branches:
      - main

defaults:
  run:
    working-directory: sqlalchemy

jobs:
  test-sqla:
    name: SQLA test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            ./__pypackages__
          key: ${{ runner.os }}-python-${{ hashFiles('**/pdm.lock') }}

      - uses: pdm-project/setup-pdm@94a8231deba8dd0281d79c0d6e8f24f547b6f7c7 # v4.4
        name: Setup PDM
        with:
          python-version: "3.10"  # Version range or exact version of a Python version to use, the same as actions/setup-python
          prerelease: true     # Allow prerelease versions to be installed
          enable-pep582: true  # Enable PEP 582 package loading globally

      - run: pdm install -G testcontainers

      - run: pdm run test
